<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>
<!-- Main Content -->
<main class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-10">
            <h1><%= title %></h1>
            <% if(typeof displayName=='string' && displayName) { %>
                <a href="/Gameslist/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> Add a Games </a>
            <br>
            <% } %>
            <br>
    <table class= "table table-bordered table-striped table-hover">
    <tr class="d-flex">
    <% if(typeof displayName=='string' && displayName) { %>
        <th class="text-center col-2">Name</th>
        <th class="text-center col-2">Platform</th>
        <th class="text-center col-1">Year</th>
        <th class="text-center col-2">Description</th>
        <th class="text-center col-1">Price</th>
        <th class="text-center col-1"></th>
        <th class="text-center col-1"></th>
    <% } else { %>
    <th class="text-center col-2">Name</th>
        <th class="text-center col-2">Platform</th>
        <th class="text-center col-1">Year</th>
        <th class="text-center col-2">Description</th>
        <th class="text-center col-1">Price</th>
        <th class="col-2 text-center">Actions</th>
    <% } %>

    </tr>
    <!-- Repeat the template -->
    <% for(let count=0; count < GamesList.length; count++) { %>
        <tr class="d-flex">
        <% if(typeof displayName=='string' && displayName) { %>
            <td class="text-center col-2"><%= GamesList[count].Name %></td>
            <td class="text-center col-2"><%= GamesList[count].Platform %></td>
            <td class="text-center col-1"><%= GamesList[count].Year %></td>
            <td class="text-center col-2"><%= GamesList[count].Description %></td>
            <td class="text-center col-1"><%= GamesList[count].Price %></td>
            
            <td class="text-center col-1">
                <a href="/Gameslist/edit/<%= GamesList[count]._id %>"
                    class="btn btn-primary">
                    <i class="fas fa-pencil-alt"></i> Edit </a>
            </td>
            <td class="text-center col-1">
                <a href="/Gameslist/delete/<%= GamesList[count]._id %>"
                    class="btn btn-danger">
                    <i class="fas fa-trash-alt"></i> Delete </a>
            </td>
        <% } else { %>
            <td class="text-center col-2"><%= GamesList[count].Name %></td>
            <td class="text-center col-2"><%= GamesList[count].Platform %></td>
            <td class="text-center col-1"><%= GamesList[count].Year %></td>
            <td class="text-center col-2"><%= GamesList[count].Description %></td>
            <td class="text-center col-1"><%= GamesList[count].Price %></td>
            <td class="text-center col-1"><%= GamesList[count].Actions %></td>
        <% } %>       
        </tr>
    <% } %>
    </table>
</div>
</div>
</main>
<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>